html {
  color-scheme: light dark;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;

}

body {
  font-family: system-ui;
}

.App {
  height: 100dvh;
  margin-inline: auto;
  text-align: center;
  color: black;
  --primary-color-light: #8696FE;
  --primary-color: #4942E4;
  --secondary-color-light: #FFF5B8;
  --secondary-color: #FFE7A0;
  --add-z-index: 1000;
  --button-radius: 4rem;
}

.fullpage {
  height: 100dvh;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction_column {
  display: flex;
  flex-direction: column;
}

.space_between {
  justify-content: space-between;
}

button {
  background-color: var(--primary-color-light);
  flex: 1;
  color: #000 !important;
}

.primary {
  background-color: var(--primary-color-light);
}

.secondary {
  background-color: var(--secondary-color-light);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.item {
  display: flex;
  background-color: #000;
  text-align: start;
  color: #E4DCCF;
}

.itemContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  overflow: hidden;
  color: #57C5B6;
}

.leftButton {
  text-align: left;
  height: 100%;
  grid-column: 1/1;
  grid-row: 1/2;
  z-index: 1;
  background-color: var(--primary-color);
  color: white
}

.center_grid {
  transition: transform 200ms;
  height: 100%;
  width: 100%;
  grid-column: 1/4;
  z-index: 3;
  grid-area: 1 / 1 / 2 / span 3;
}

.rightButton {
  z-index: 2;
  grid-column: 3/3;
  grid-row: 1/1;
  background-color: red;
  cursor: pointer;
  border: none;
  min-width: 55px;
  text-align: right;
  height: 100%;
  width: 100%;
  color: white
}

.item-left {
  padding: 1em;
  flex: 2;
  cursor: pointer;
  /* transition: background-color 1s linear */
}

.item-left:active {
  background-color: var(--primary-color-light);
}

.item-left:focus {
  background-color: var(--primary-color-light);
}


.item-right {
  flex: 1;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  height: 100%;
}

.product {
  font-size: 2em;
  padding-right: .5em;
}

.price {
  font-size: 1.5rem;

}

.subtract {
  background-color: var(--secondary-color-light);
}

.subtract:hover {
  background-color: var(--secondary-color-light);
}

.subtract:active {
  background-color: var(--secondary-color);
}

.add {
  background-color: var(--primary-color-light);
}

.add:hover {
  background-color: var(--primary-color-light);
}

.add:active {
  background-color: var(--primary-color);
}

.item-button {
  font-size: 20px;
  padding: 1rem;
  border: none;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.addGroceries_button {
  position: fixed;
  height: var(--button-radius);
  width: var(--button-radius);
  bottom: 4rem;
  right: 1rem;
  font-size: 40px;
  border-radius: 50%;
  background-color: #57C5B6;
  text-align: center;
  border: none;
  z-index: var(--add-z-index);
}

.addGroceries_button:active {
  background-color: var(--primary-color);
}

.list_container {
  padding: 0 .5rem 8rem .5rem;
}

.add__item_container {
  position: absolute;
  display: flex;
  height: 100dvh;
  width: calc(100% - 8px);
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: var(--add-z-index);
  backdrop-filter: blur(10px);
  opacity: .9;
}

.add__Item {
  background-color: #000;
  border-radius: 1em;
  text-align: start;
  color: #E4DCCF;
  width: 80dvw;
}

.form_items {
  display: flex;
  flex-direction: column;
  color: white;
  padding: .5rem;
  background-color: var(--primary-color);
  border-radius: 1em;
}

.form_row {
  flex: 1;
  flex-grow: 1;
  color: white;
  font-size: small;
  padding: .5em;
  border-radius: 2em;
}

.form_input {
  flex: 1
}

.button_margin_top {
  margin-top: 1em;
}

.padding-m {
  padding: 8px;
}

.padding-x {
  padding: 16px;
}

.padding-xl {
  padding: 32px;
}

.padding-xxl {
  padding: 64px;
}

input {
  border-radius: .5em;
  size: 1em;
  height: 28px;
  min-width: 0;
  font-size: 22px;
  border: none;
  padding: 4px;
  border: none;
  border-style: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.resetDefaultWidth {
  min-width: 0;
}

select {
  border-radius: .5em;
  size: 1em;
  height: 35px;
  font-size: 22px;
  border: none;
  padding: 4px;
  border: none;
}

.options_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: var(--primary-color-light);
  color: #000;

}

.option_row {
  background-color: transparent;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.option_description {
  font-size: 24px;
  text-align: center;
  padding-right: 1rem;
}

.flash_image_container {
  background-color: lightgrey;
  border-radius: 50%;
}

.option_image_container {}

.option_image {
  height: 40px;
  width: 40px;
}

input[type="file"] {
  display: none;
}

.hidden {
  display: none;
}

.camera_container {
  color: red;
}

.videoFrame {
  width: 100%;
}


.search_container {
  position: fixed;
  bottom: 4rem;
  z-index: 3;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  padding: 0 0.5rem 0 0.5rem;
  border-radius: 1rem;
  background-color: var(--primary-color-light);
}

.inner_search_container {
  flex-direction: column;
}

.search_bar_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem;
  border-radius: 1rem;
  background-color: var(--primary-color-light);
}

.searchComp {
  border-radius: 1rem;
  border: 1px solid var(--primary-color);
  height: 2rem;
  padding: 4px;
  margin: 4px;
  width: 50dvw;
}

.search_result_item {
  font-size: larger;
  background-color: var(--primary-color-light);
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.productItem:focus {
  color: #61dafb;
}

.closeButton {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  padding: 1.5rem;
  font-size: 1rem;

}